header{
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.logo{
    padding: 2em;
}
  .image1{
    background-image: url(../images/banner.jpg);
    font-size: 200%;
    text-align: center;
  }
  .image1 h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 1.5em;
    text-align: center;
    color: #25a2c3;
  }
  .image1 p{
    text-align: center;
    padding: 0em;
    
  }

  button{
    border-radius: 10px;
    padding: 1.8em;
  }
  .parag2{

    text-align: center;
  }
  .parag1{
    text-align: center;
    padding: 1.5em;
   
  }
  .parag2 img{
    text-align: center;
    border-radius: 50%;
  }
  .parag1 h1{
    padding: 1.2em;
    color: #25a2c3;
    font-size: 200%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .parag2 h1{
    padding: 1.2em;
    color: #25a2c3;
    font-size: 200%;
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  }
  .image1 button{
    background-color: red;
   
  }
  .fine h1{
    color: #25a2c3;
    font-size: 200%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
     font-style: normal;
     padding: 1.5em;
  }
  .fine{
    padding: 2em;
    text-align: center;
  }
  .fine h1{
   
    padding: 1.5em;
  }
  .sfrosso{
    font-size: 30px;
     padding:2em;
    background-color: red;
    text-align: center;
    color :white;
}

.pc{
    font-size: 30px;
    text-align: center;
    border-color: black;
}
  .pc img{
    margin: 1.5em;
   }
.pc h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #25a2c3;
    padding: 1.5em;
}

.pc1{
font-size: 30px;
    text-align: center;
    margin-top: 3rem;
    
}

.pc1 h1{
    color: #25a2c3;
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 1.5em;
}

.pc2{
  border: 2px solid #002c53;
    font-size: 30px;
    text-align: center;
    margin-top: 4rem;
    padding: 1rem;
}
.pc2 h1{
    color: #25a2c3;
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 1.5em;
}
.fine2{
  border-bottom: 1px solid black;
    background-color: #25a2c3;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 3em;
    margin-top: 4rem;
    }
.fine2 h1{
  
    font-size: 35px;
    
}
footer{
   padding: 1.6em;
   


}





