header{
    background-color: rgb(0, 0, 0);
    text-align: center;

}

.main{
    min-width: 300Px;
    min-height: 300px;
    color: #25a2c3;
    
   
}
.logo{
    padding: 2em;
}
  .image1{
    background-image: url(../images/banner.jpg);
    font-size: 200%;
  }
  .image1 h1{
    
  font-weight: 100;
  font-style: normal;
    padding: 1.5em;
    text-align: center;
    color: #25a2c3;
  }
  .image1 p{
    text-align: center;
    padding: 0em;
    
  }
  .parag2{

    text-align: center;
  }
  .parag1{
    text-align: center;
    padding: 1.5em;
   
  }
  .parag2 img{
    text-align: center;
    border-radius: 50%;
  }
  .parag1 h1{
    padding: 1.2em;
    color: #25a2c3;
    font-size: 200%;
    
  }

  .parag2 h1{
    padding: 1.2em;
    color: #25a2c3;
    font-size: 200%;
  }
  .image1 button{
    background-color: red;
   
  }
  .fine h1{
    color: #25a2c3;
    font-size: 200%;
    text-align: center;
  }
  .fine{
    padding: 2em;
    text-align: center;
  }
  .fine h1{
    padding: 1.2em;
  }
  .sfrosso{

    background-color: red;
    text-align: center;
    color :white;
  
  }


